p4.ignore
build.log
buildroot/amd64/
buildroot/i386/
buildroot/pbuilder/
crosstool/amd64/.build/
crosstool/crosstool-ng/
crosstool/i386/.build/
crosstool/tarballs/
packages/binary/
packages/debug/
packages/source/
runtime/amd64/
runtime/built-using.txt
runtime/i386/
runtime/manifest.txt
runtime/manifest.deb822.gz
runtime/source/
publish_symbols.sh
do-buildbot-build.sh
merge_hg_to_runtime.sh
x-tools
tmp/
newpkg/
ubuntu-precise-core-cloudimg-*
