p4.ignore
build.log
buildroot/amd64/
buildroot/i386/
buildroot/pbuilder/
crosstool/amd64/.build/
crosstool/crosstool-ng/
crosstool/i386/.build/
crosstool/tarballs/
packages/binary/
packages/debug/
packages/source/
/runtime/
publish_symbols.sh
do-buildbot-build.sh
merge_hg_to_runtime.sh
x-tools
tmp/
newpkg/
/ubuntu-precise-core-cloudimg-*
/steam-runtime-*.built-using.txt
/steam-runtime-*.deb822.gz
/steam-runtime-*.manifest.txt
/steam-runtime-*.sources.txt
/steam-runtime-*.tar.gz
/steam-runtime-*.tar.xz
/steam-runtime-sdk-chroot-*.deb822.gz
/steam-runtime-sdk-chroot-*.tar.gz
/steam-runtime-sdk-chroot-*.txt
/unofficial-steam-runtime-*.built-using.txt
/unofficial-steam-runtime-*.deb822.gz
/unofficial-steam-runtime-*.manifest.txt
/unofficial-steam-runtime-*.sources.txt
/unofficial-steam-runtime-*.tar.xz
/unofficial-steam-runtime-sdk-chroot-*.deb822.gz
/unofficial-steam-runtime-sdk-chroot-*.tar.gz
/unofficial-steam-runtime-sdk-chroot-*.txt
*.pyc
