Source: steam-runtime
Section: misc
Priority: extra
Maintainer: SteamOS Maintainers <steamos@valvesoftware.com>
Standards-Version: 4.3.0

Package: steam-runtime
Architecture: all
Description: Not a real package
 This package description is only here as a way to run tests using
 Debian's autopkgtest tool. Don't build it.
